html {
  font-size: 100%;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bitter {
  font-family: 'Bitter', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu';
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 82%;
  }
}